<table class="field" cellspacing="0" cellpadding="0" *ngIf="center" (mousemove)="nextMove()">
  <tr *ngFor="let row of cells; let r = index">
    <td *ngFor="let col of row; let c = index" class="cell" [ngStyle]="{
      'background-color': col.type
    }" [ngClass]="{
      'mouse-view': 
      r >= center.row - visibleRange &&
      r <= center.row + visibleRange &&
      c >= center.col - visibleRange &&
      c <= center.col + visibleRange
    }" [title]="'['+r+']['+c+']'">
    </td>
  </tr>
</table>